<div class="content">
<section>
  <div class="block" routerLink="/KeenDelivery">
    <h3>KeenDelivery</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Perflectie">
    <h3>Perflectie</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-perflectie-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/MinersLife">
    <h3>Miner's Life</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-minerslife-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Pangkalpinang">
    <h3>Pangkalpinang</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-pangkalpinang-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Nusantara">
    <h3>Nusantara</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-nusantara-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Gamepoint">
    <h3>GamePoint</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Nimbus">
    <h3>Nimbus</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/FrozenChaos">
    <h3>Frozen Chaos</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/TheGrey">
    <h3>The Grey</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/FillwithSkill">
    <h3>Fill with Skill</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Eccky">
    <h3>Eccky</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/LegionsofShadow">
    <h3>Legions of Shadow</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Velocityball">
    <h3>Velocityball</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/Energymeter">
    <h3>Energymeter</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
  <div class="block" routerLink="/ImpressiveInteractive">
    <h3>Impressive Interactive</h3>
    <p>Lorem ipsum</p>
    <div class="block-cover">
      <img src="/assets/img/otp-keendelivery-cover.jpg" class='cover'>
    </div>
  </div>
</section>
</div>
