<div class="content">
<section>
  <div class="block" routerLink="/keendelivery">
    <h3>KeenDelivery</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Perflectie</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Miner's Life</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Pangkalpinang</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Nusantara</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>GamePoint</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Nimbus</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Frozen Chaos</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>The Grey</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Fill with Skill</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Eccky</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Legions of Shadow</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Velocityball</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Energymeter</h3>
    <p>Lorem ipsum</p>
  </div>
  <div class="block">
    <h3>Impressive Interactive</h3>
    <p>Lorem ipsum</p>
  </div>
</section>
</div>
